html {
    scroll-behavior: smooth;
}

/*Creamos el estilo del body, para que mantenga un estilo común*/
body {
    font-family: Arial, sans-serif;
    background-color: lightgreen;
    margin: 0;
    padding: 20px; /* Aplica el mismo padding a toda la página */
    scroll-behavior: smooth; /* Añade un desplazamiento suave al hacer scroll */
    box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total del elemento */
}


/* Estilos para la cabecera */
.encabezado {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    color: rgb(0, 0, 0);
    position: sticky;
    top: 0;
    z-index: 100%;
}

.encabezado img {
    height: 80px;
    width: 80px;
    border-radius: 50%; /* Hace que el logo sea circular */
    border: 2px solid white; /* Añade un borde blanco */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade una sombra para darle profundidad */
    transition: transform 0.3s ease; /* Añade una transición suave para el efecto hover */
}


.encabezado img:hover {
    transform: scale(1.1); /* Aumenta el tamaño del logo al pasar el ratón por encima */
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente al centro */
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}


nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;

}

nav ul li a:hover {
    text-decoration: none;
}

nav ul li button:active {
    animation: button-click 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

@keyframes button-click {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

.active{
    background-color: rgb(255, 0, 136); /* Fondo azul para resaltar */
    color: rgb(0, 0, 0); /* Cambia el color del texto a blanco */
    font-weight: bold; /* Aumenta el grosor de la fuente */
    padding: 5px 10px; /* Añade relleno alrededor del texto */
    border-radius: 5px; /* Redondea las esquinas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Añade una sombra para crear un recuadro sin bordes */
}

.auth-buttons {
    display: flex;
    gap: 10px; /* Añade un espacio de 10px entre los botones */
}

.auth-buttons .boton,
.auth-buttons .boton-active {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
}

.auth-buttons .boton-active:hover,
.auth-buttons .boton:hover {
    background-color: rgb(0, 255, 162);
}
#home {
    background-image: url('imagenes/fodo-home.jpg'); /* Ruta a tu imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    min-height: 100vh; /* Asegura que ocupe al menos la altura de la ventana */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white; /* Color del texto para que sea legible sobre la imagen */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para el texto */
}

#home h1 {
    font-size: 6em;
    color: whitesmoke;
    text-align: center;
}

#home .counter {
    font-size: 1.5em;
    color: white;
    text-align: center;
}

#home button {
    margin-top: 40px;
    padding: 15px 30px; /* Aumenta el tamaño del botón */
    font-size: 1.2em; /* Aumenta el tamaño de la fuente */
    background-color: #ff6f61; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 10px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor a pointer */
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
}

#home button:hover {
    background-color: #ff8f81; /* Color de fondo al pasar el ratón */
}

#papa_noel {
    background-image: url('imagenes/fodo-home.jpg'); /* Ruta a tu imagen de fondo navideña */
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    padding: 20px;
    box-sizing: border-box;
    min-height: 100vh; /* Asegura que ocupe al menos la altura de la ventana */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white; /* Color del texto para que sea legible sobre la imagen */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para el texto */
    font-family: 'Mountains of Christmas'; /* Fuente navideña */
}

.papa-noel-container {
    display: flex;
    gap: 20px; /* Añade un espacio de 20px entre la imagen y el texto */
    max-width: 1200px; /* Limita el ancho máximo del contenedor */
    padding: 20px;
    background-color:  rgb(230, 220, 177); /* Fondo blanco para el contenedor */

}

.papa-noel-img {
    width: 450px; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px; /* Redondea las esquinas de la imagen */
}

.papa-noel-texto {
    font-family: 'Mountains of Christmas', cursive; /* Fuente navideña */
    color: white; /* Color del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para el texto */
}

.papa-noel-texto h1 {
    margin-top: 0; /* Elimina el margen superior del encabezado */
    font-family: 'Pacifico'; /* Fuente personalizada */
    color: #ff0000; /* Color rojo festivo */
    text-shadow: 2px 2px 4px #000000; /* Sombra al texto */
    padding: 10px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
}

.papa-noel-texto p {
    margin-bottom: 10px; /* Añade un margen inferior a los párrafos */
}

#cartas {
    background-image: url('imagenes/fodo-home.jpg'); /* Ruta a tu imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    padding: 20px;
    box-sizing: border-box;
    min-height: 100vh; /* Asegura que ocupe al menos la altura de la ventana */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}


.cartas-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
}

.carta {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    width: 100%;
    max-width: 300px; /* Asegura que las cartas no se extiendan demasiado */
    margin: 0 auto; /* Centra cada carta individualmente */
    background-image: url('imagenes/plantilla-carta.jpg'); /* Ruta a tu imagen de fondo navideña */
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.carta h2 {
    text-align: center; /* Centra el título */
    margin-bottom: 10px; /* Añade un margen inferior al título */
    color: #ff0000;
}

.carta-contenido {
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente al centro */
}

.carta img {
    width: 80px; /* Ajusta el tamaño de la imagen */
    height: 80px; /* Ajusta el tamaño de la imagen */
    object-fit: cover; /* Asegura que la imagen mantenga su proporción y cubra el área asignada */
    border-radius: 50%; /* Hace que la imagen sea circular */
    margin-right: 10px; /* Añade un margen derecho debajo de la imagen */
}

.carta-texto {
    flex: 1; /* Permite que el texto ocupe el espacio restante */
    color: white;
}

#cartas h1 {
    margin-top: 0; /* Elimina el margen superior del encabezado */
    font-family: 'Great Vibes', cursive; /* Fuente personalizada */
    font-size: 3em; /* Tamaño de fuente grande */
    color: wheat; /* Color del texto */
    padding: 15px 30px; /* Espaciado interno */
    border-radius: 15px; /* Bordes redondeados */
    text-align: center; /* Centra el texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra del texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra del cuadro */
    display: inline-block; /* Hace que el rótulo se ajuste al contenido */
    background: none; /* Elimina el fondo */
}
.carta p {
    margin: 5px 0; /* Espacio alrededor de los párrafos */
    font-family: 'Arial', sans-serif; /* Fuente legible */
    color: #333; /* Color del texto */
}

#enviar {
    background-image: url('imagenes/fodo-home.jpg'); /* Ruta a tu imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    padding: 20px;
    box-sizing: border-box;
    min-height: 100vh; /* Asegura que ocupe al menos la altura de la ventana */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333; /* Color del texto para que sea legible sobre el fondo */
    font-family: 'Arial', sans-serif; /* Fuente legible y sencilla */
}


#enviar h1 {
    margin-bottom: 20px; /* Añade un margen inferior al título */
    font-family: 'Mountains of Christmas'; /* Fuente navideña */
    color: #008000; /* Color verde festivo */
    padding: 15px; /* Espaciado interno */
    border-radius: 15px; /* Bordes redondeados */
    background-color: transparent; /* Fondo blanco para el título */
    border: 2px solid #FF0000; /* Borde rojo */
    font-weight: bold;
}

.enviar-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    max-width: 800px;
    font-weight: bold;
    color: #000000;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px; /* Añade un margen inferior a las etiquetas */
}

.form-group input,
.form-group textarea {
    padding: 10px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
    width: 100%; /* Ocupa todo el ancho del contenedor */
    box-sizing: border-box; /* Incluye el padding y el border en el tamaño total */
    background-color: #fbdad5;
}

.form-group.textarea-group {
    grid-column: span 2; /* Ocupa dos columnas */
}

.form-group textarea {
    width: 100%; /* Ocupa todo el ancho disponible */
    height: 150px; /* Ajusta la altura del textarea */
}

.form-group.button-group {
    grid-column: span 2; /* Ocupa dos columnas */
    display: flex;
    justify-content: center; /* Centra el botón horizontalmente */
    align-items: center; /* Centra el botón verticalmente */
}

.form-group button {
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #007bff; /* Color de fondo */
    color: white; /* Color del texto */
    cursor: pointer; /* Cursor de mano */
    text-align: center; /* Centra el texto */
    width: 100px; /* Ancho del botón */
}

.form-group button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el ratón */
}

/* Estilo para el texto del marcador de posición */
::placeholder {
    color: #999; /* Color suave para el texto del marcador de posición */
}

#jugar {
    background-image: url('imagenes/fodo-home.jpg'); /* Ruta a tu imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    padding-top: 60px; /* Ajusta este valor según la altura de tu header */
    min-height: 100vh; /* Ocupa al menos la altura de la ventana */
    padding: 20px; /* Espaciado interno */
    box-sizing: border-box; /* Incluye el padding y el border en el tamaño total */
    font-weight: bold;
}

#jugar h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5em;
    color: #333;
    padding-top: 100px;
    font-family: 'Pacifico'; /* Fuente personalizada */
    background: linear-gradient(45deg, #ff6f61, #ff8f81);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    animation: bounce 2s infinite;
}

.jugar-contenido {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Dos columnas: menú y display */
    gap: 20px; /* Espacio entre las columnas */
}

.menu-juegos {
    background-color: transparent;
    padding: 20px;
    padding-left: 40px;
}

.menu-juegos ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-juegos li {
    background-color: #007bff;
    border-radius: 5px;
    margin-bottom: 50px;
}

.menu-juegos a {
    text-decoration: none;
    color: #000000;
    font-size: 1.2em;
    display: flex; /* Cambia a flexbox para centrar el contenido */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    padding: 10px;
    border-radius: 5px;
}

.menu-juegos a:hover {
    background-color: #ff8f81;
    color: #fff;
}

.juego-display {
    background-color: transparent;
    padding: auto;
    text-align: center;
}

.juego-display img {
    max-width: 100%;
    height: 400px;
    border-radius: 10px;
}



.pie-de-pagina {
    background-color: #fff3f3; /* Color de fondo oscuro */
    color: rgb(0, 0, 0); /* Color del texto */
    padding: 20px 0; /* Espaciado interno */
    text-align: center; /* Centra el texto */
    position: relative;
    bottom: 0;
    width: 100%;
}

.pie-de-pagina a {
    color: rgb(0, 0, 0); /* Color del texto de los enlaces */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    margin: 0 15px; /* Añade un margen lateral a los enlaces */
    font-weight: bold; /* Texto en negrita */
}

.pie-de-pagina img {
    width: 30px; /* Ajusta el tamaño de los iconos */
    height: auto; /* Mantiene la proporción de los iconos */
    margin: 0 10px; /* Añade un margen lateral a los iconos */
    vertical-align: middle; /* Alinea verticalmente los iconos con el texto */
    transition: transform 0.3s; /* Añade una transición suave */
}

.Facebook img {
    width: 35px; /* Ajusta el tamaño según sea necesario */
    height: 35px; /* Asegúrate de que el tamaño sea consistente con las otras imágenes */
    /* Otros estilos que aseguren la consistencia con las otras imágenes */
}


.pie-de-pagina img:hover {
    transform: scale(1.2); /* Aumenta el tamaño del icono al pasar el ratón por encima */
}

/* Estilos para el botón de menú (hamburguesa) */
.menu-toggle {
    display: none; /* Oculto por defecto */
}

.menu-icon {
    display: none; /* Oculto por defecto */
    font-size: 2em;
    cursor: pointer;
    color: #000;
    position: absolute;
    right: 20px; /* Alinea el botón a la derecha */
    top: 20px; /* Alinea el botón en la parte superior */
}

/* Estilos para el menú */
.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Media Queries para tablet (768px) */
@media (max-width: 768px) {
    .jugar-contenido {
        flex-direction: column; /* Cambia a disposición en columna */
        align-items: center; /* Centra los elementos */
    }

    .cartas-grid {
        grid-template-columns: 1fr 1fr; /* Dos columnas */
    }

    .encabezado {
        flex-direction: row; /* Mantiene la disposición en fila */
        align-items: center; /* Centra los elementos */
        justify-content: space-between; /* Espacia los elementos */
        padding: 10px; /* Ajusta el padding */
    }

    .menu-icon {
        display: block; /* Muestra el botón de menú */
    }

    .menu {
        display: none; /* Oculto por defecto en pantallas pequeñas */
        flex-direction: column; /* Cambia a disposición en columna */
        align-items: center; /* Centra los elementos */
        width: 100%; /* Asegura que el menú ocupe todo el ancho disponible */
    }

    .menu-toggle:checked + .menu-icon + nav .menu {
        display: flex; /* Muestra el menú cuando se activa */
    }

    .encabezado img {
        margin-bottom: 0; /* Elimina el margen inferior */
    }
}

/* Media Queries para móvil (600px) */
@media (max-width: 600px) {
    .jugar-contenido {
        flex-direction: column; /* Cambia a disposición en columna */
        align-items: center; /* Centra los elementos */
    }

    .cartas-grid {
        grid-template-columns: 1fr; /* Una columna */
    }

    .menu-juegos li {
        margin-bottom: 20px; /* Reduce el margen inferior */
    }

    .carta {
        max-width: 100%; /* Asegura que las cartas ocupen todo el ancho disponible */
    }

    .encabezado {
        flex-direction: row; /* Mantiene la disposición en fila */
        align-items: center; /* Centra los elementos */
        justify-content: space-between; /* Espacia los elementos */
        padding: 10px; /* Ajusta el padding */
        position: relative;
    }

    .menu-icon {
        display: block; /* Muestra el botón de menú */
    }

    .menu {
        display: none; /* Oculto por defecto en pantallas pequeñas */
        flex-direction: column; /* Cambia a disposición en columna */
        align-items: center; /* Centra los elementos */
        width: 100%; /* Asegura que el menú ocupe todo el ancho disponible */
        background-color: #fff; /* Fondo blanco para el menú desplegable */
        padding: 10px 0; /* Añade padding vertical */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra para darle profundidad */
    }

    .menu li {
        width: 100%; /* Asegura que cada elemento del menú ocupe todo el ancho disponible */
        text-align: center; /* Centra el texto de cada elemento */
        padding: 10px 0; /* Añade padding vertical a cada elemento */
        border-bottom: 1px solid #ddd; /* Añade una línea divisoria entre los elementos */
    }

    .menu li:last-child {
        border-bottom: none; /* Elimina la línea divisoria del último elemento */
    }

    .menu-toggle:checked + .menu-icon + nav .menu {
        display: flex; /* Muestra el menú cuando se activa */
    }

    .encabezado img {
        margin-bottom: 0; /* Elimina el margen inferior */
    }
}