/* Estilo para el elemento html */
html {
    scroll-behavior: smooth; /* Añade un desplazamiento suave al hacer scroll */
}

/* Estilo para el body, para mantener un estilo común */
body {
    font-family: Arial, sans-serif; /* Fuente principal del documento */
    background-color: transparent; /* Fondo transparente */
    box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total del elemento */
    padding: 0; /* Elimina el padding por defecto */
    margin: 0; /* Elimina el margen por defecto */
}


/* Estilos para la cabecera */
.encabezado {
    display: flex; /* Utiliza el modelo de caja flexible para organizar los elementos hijos */
    align-items: center; /* Alinea los elementos hijos verticalmente en el centro */
    justify-content: space-between; /* Distribuye el espacio sobrante entre los elementos hijos */
    padding: 0.3125rem 1.25rem; /* Añade un relleno interno de 0.3125rem arriba y abajo, y 1.25rem a los lados */
    color: rgb(0, 0, 0); /* Establece el color del texto en negro */
    position: sticky; /* Fija la posición del elemento en la parte superior de la ventana cuando se hace scroll */
    top: 0; /* Define que el elemento debe estar pegado a la parte superior */
    z-index: 100%; /* Establece la prioridad del elemento en la pila de capas, asegurando que esté por encima de otros elementos */
    overflow: hidden; /* Asegura que el contenido que se desborde del contenedor no sea visible */
}

/* Estilos para la imagen dentro de la cabecera */
.encabezado img {
    height: 12%; /* Establece la altura de la imagen al 12% del contenedor */
    width: 12%; /* Establece el ancho de la imagen al 12% del contenedor */
    border-radius: 50%; /* Hace que la imagen sea circular */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade una sombra para darle profundidad */
    transition: transform 0.3s ease; /* Añade una transición suave para el efecto hover */
}

/* Estilo para la imagen dentro de la cabecera al pasar el ratón por encima */
.encabezado img:hover {
    transform: scale(1.1); /* Aumenta el tamaño del logo al pasar el ratón por encima */
}

/* Estilos para la lista de navegación dentro del elemento nav */
nav ul {
    display: flex; /* Utiliza el modelo de caja flexible para organizar los elementos hijos */
    align-items: center; /* Alinea los elementos hijos verticalmente en el centro */
    margin: 0; /* Elimina el margen por defecto */
    padding: 0; /* Elimina el padding por defecto */
}

/* Estilos para los elementos de la lista de navegación */
nav ul li {
    margin-right: 10px; /* Añade un margen derecho a cada elemento de la lista */
}


/* Estilo para el último elemento de la lista de navegación */
nav ul li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}

/* Estilo para los enlaces dentro de los elementos de la lista de navegación */
nav ul li a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: black; /* Establece el color del texto en negro */
    font-weight: bold; /* Hace que el texto sea negrita */
}

/* Estilo para los elementos no activos de la lista de navegación */
.no-active {
    padding: 0.3125rem 0.625rem; /* Añade relleno alrededor del texto */
}

/* Estilo para los elementos no activos al pasar el ratón por encima */
.no-active:hover {
    background-color: rgb(60, 255, 0); /* Cambia el fondo a verde claro */
    color: black; /* Establece el color del texto en negro */
    border-radius: 0.3125rem; /* Redondea las esquinas */
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.5); /* Añade una sombra para crear un recuadro sin bordes */
}

/* Estilo para los botones dentro de los elementos de la lista de navegación al hacer clic */
nav ul li button:active {
    animation: button-click 0.5s cubic-bezier(0.25, 0.1, 0.25, 1); /* Añade una animación de clic */
}

/* Definición de la animación button-click */
@keyframes button-click {
    0% {
        transform: scale(1); /* Al inicio de la animación, el elemento tiene su tamaño original */
    }
    50% {
        transform: scale(0.95); /* A la mitad de la animación, el elemento se reduce al 95% de su tamaño original */
    }
    100% {
        transform: scale(1); /* Al final de la animación, el elemento vuelve a su tamaño original */
    }
}

/*Estilo para el botón resaltado de Home*/
.active{
    background-color: rgb(255, 0, 136); /* Fondo azul para resaltar */
    color: black; /* Cambia el color del texto a negro */
    font-weight: bold; /* Aumenta el grosor de la fuente */
    padding: 0.3125rem 0.625rem; /* Añade relleno alrededor del texto */
    border-radius: 0.3125rem; /* Redondea las esquinas */
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.5); /* Añade una sombra para crear un recuadro sin bordes */
}

/* Contenedor para los botones de autenticación */
.auth-buttons {
    display: flex; /* Utiliza el modelo de caja flexible para organizar los botones */
    gap: 0.625rem; /* Añade un espacio de 10px entre los botones */
}

/* Estilos comunes para los botones de autenticación */
.auth-buttons .boton,
.auth-buttons .boton-active {
    background-color: transparent; /* Fondo transparente para los botones */
    color: black; /* Color del texto en negro */
    border: none; /* Sin borde */
    border-radius: 10px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
}

/* Estilo para los botones de autenticación al pasar el ratón por encima */
.auth-buttons .boton-active:hover,
.auth-buttons .boton:hover {
    background-color: rgb(0, 255, 162); /* Cambia el fondo a verde claro */
}

/* Asegurar que los enlaces se mantengan en una sola línea */
.encabezado a {
    white-space: nowrap;
}

/* Estilo para los botones de autenticación al pasar el ratón por encima */
.auth-buttons .boton-active:hover,
.auth-buttons .boton:hover {
    background-color: rgb(0, 255, 162); /* Cambia el fondo a verde claro */
}

/* Estilo para la página principal de la página web */
#home {
    background-image: url('imagenes/fondo-home.webp'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    min-height: 100vh; /* Asegura que el contenedor ocupe al menos la altura completa de la ventana */
    display: flex; /* Utiliza el modelo de caja flexible para organizar los elementos hijos */
    flex-direction: column; /* Organiza los elementos hijos en una columna */
    align-items: center; /* Alinea los elementos hijos horizontalmente en el centro */
    justify-content: center; /* Alinea los elementos hijos verticalmente en el centro */
    color: black; /* Establece el color del texto en negro para que sea legible sobre la imagen de fondo */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Añade una sombra al texto para mejorar la legibilidad */
}

    /* Estilo para el encabezado principal en la página de inicio */
    #home h1 {
        font-size: 600%; /* Tamaño de fuente para el encabezado */
        color: black; /* Color del texto negro */
        text-align: center; /* Centra el texto */
    }

    /* Estilo para el contador en la página de inicio */
    #home .counter {
        font-size: 150%; /* Tamaño de fuente para el contador */
        color: black; /* Color del texto en negro */
        text-align: center; /* Centra el texto */
    }

    /* Estilo para el botón de la página principal */
    #home button {
        margin-top: 3%;
        padding: 15px 30px; /* Aumenta el tamaño del botón */
        font-size: 120%; /* Aumenta el tamaño de la fuente */
        background-color: #ff6f61; /* Color de fondo */
        color: black; /* Color del texto */
        border: none; /* Sin borde */
        border-radius: 10px; /* Bordes redondeados */
        cursor: not-allowed; /* Cambia el cursor a pointer */
        transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
    }

    #home button:hover {
        background-color: #ff8f81; /* Color de fondo al pasar el ratón */
    }


/* Estilo para la página de Papa Noel */
#papa_noel {
    background-image: url('imagenes/fondo-home.webp'); /* Ruta de la imagen de fondo navideña */
    background-size: cover; /* Asegura que la imagen cubra todo el fondo del contenedor */
    background-position: center; /* Centra la imagen de fondo dentro del contenedor */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    padding: 10%; /* Añade un espaciado interno del 10% alrededor del contenido */
    box-sizing: border-box; /* Incluye el padding y el borde en el tamaño total del elemento */
    height: 100vh; /* Asegura que el contenedor tenga al menos la altura completa de la ventana del navegador */
    display: flex; /* Utiliza el modelo de caja flexible para organizar los elementos hijos */
    flex-direction: row; /* Organiza los elementos hijos en una columna */
    align-items: center; /* Alinea los elementos hijos horizontalmente en el centro del contenedor */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Añade una sombra al texto para mejorar la legibilidad */
    font-family: 'Mountains of Christmas'; /* Aplica una fuente navideña específica */
}

    /* Contenedor principal para la sección de Papa Noel */
    .papa-noel-container {
        display: flex; /* Utiliza el modelo de caja flexible para organizar los elementos hijos */
        gap: 1%; /* Añade un espacio de 1% entre los elementos hijos */
        padding: 2%; /* Añade un relleno interno de 2% */
        border-radius: 10px; /* Redondea las esquinas del contenedor */
        background-color: #fbdad5
        ; /* Fondo color crema para el contenedor */
    }

    /* Estilo para la imagen de Papa Noel */
    .papa-noel-img {
        width: 50%; /* Establece el ancho de la imagen al 35% del contenedor */
        height: 60%; /* Mantiene la proporción de la imagen */
        align-self: center; /* Alinea la imagen verticalmente al centro */
        border-radius: 10px; /* Redondea las esquinas de la imagen */
        margin-right: 3%;
    }

    /* Estilo para el texto en la sección de Papa Noel */
    .papa-noel-texto {
        font-family: 'Mountains of Christmas'; /* Fuente navideña */
        color: black; /* Establece el color del texto en negro */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Añade una sombra al texto */
        margin-bottom: 10px; /* Añade un margen inferior de 10px a los párrafos */
    }

    /* Estilo para el encabezado en la sección de Papa Noel */
    .papa-noel-texto h1 {
        margin-top: 0; /* Elimina el margen superior del encabezado */
        font-family: 'Mountains of Christmas'; /* Fuente personalizada */
        color: #00db00; /* Color verde festivo */
        text-shadow: 2px 2px 4px #383838; /* Sombra al texto */
        border-radius: 10px; /* Bordes redondeados */
        font-size: 200%; /* Tamaño de fuente del 200% */
        margin-left: 37%; /* Margen izquierdo del 37% */
    }

/* Estilo para todos los títulos a partir de ahora */
.rotulo-titulos h1 {
    font-family: 'Mountains of Christmas'; /* Fuente navideña */
    color: #00db00; /* Color verde festivo */
    font-weight: bolder; /* Aumenta el grosor de la fuente */
    font-size: 450%; /* Tamaño de fuente muy grande */
    text-align: center; /* Centra el texto */
    text-shadow: 2px 2px 4px #383838; /* Añade una sombra al texto */
}

/* Estilo para la sección de cartas */
#cartas {
    background-image: url('imagenes/fondo-home.webp'); /* Ruta a tu imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra todo el fondo del contenedor */
    background-position: center; /* Centra la imagen de fondo dentro del contenedor */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    padding: 2%; /* Añade un espaciado interno del 2% alrededor del contenido */
    min-height: 100vh; /* Asegura que el contenedor tenga al menos la altura completa de la ventana del navegador */
    display: flex; /* Utiliza el modelo de caja flexible para organizar los elementos hijos */
    flex-direction: column; /* Organiza los elementos hijos en una columna */
    align-items: center; /* Alinea los elementos hijos horizontalmente en el centro del contenedor */
    justify-content: center; /* Alinea los elementos hijos verticalmente en el centro del contenedor */
}

    /* Estilo para la cuadrícula de cartas */
    .cartas-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Define una cuadrícula de 3 columnas */
        gap: 0.5%; /* Añade un espacio del 0.5% entre las columnas */
        width: 100%; /* Ocupa todo el ancho disponible */
        max-width: 75%; /* Limita el ancho máximo al 75% */
        justify-content: center; /* Centra la cuadrícula horizontalmente */
        padding-bottom: 5%; /* Añade un relleno inferior del 5% */
    }

    /* Estilo para las cartas en la sección de cartas */
    .carta {
        background-color: white; /* Fondo blanco para las cartas */
        padding: 1rem; /* Espaciado interno de 1rem */
        border: 1px solid #ccc; /* Borde gris claro */
        border-radius: 0.5rem; /* Bordes redondeados */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera para darle profundidad */
        box-sizing: border-box; /* Incluye el padding y el border en el tamaño total */
        width: 90%; /* Ajusta el ancho de las cartas */
        margin: 0 auto; /* Centra cada carta individualmente */
        background-image: url('imagenes/plantilla-carta.jpg'); /* Ruta de la imagen */
        background-size: cover; /* Asegura que la imagen cubra todo el fondo */
        background-position: center; /* Centra la imagen de fondo */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
    }

    /* Estilo para las cartas al pasar el ratón por encima */
    .carta:hover {
        transform: scale(1.05); /* Aumenta el tamaño de la carta al pasar el ratón por encima */
    }
    /* Estilo para el título dentro de las cartas */
    .carta h2 {
        font-family: 'Mountains of Christmas'; /* Fuente navideña */
        color: #000000; /* Color negro */
        font-weight: bold; /* Texto en negrita */
        font-size: 160%; /* Tamaño de fuente del 160% */
        text-shadow: 2px 2px 4px #383838; /* Sombra al texto */
        text-align: center; /* Centra el texto */
    }

    /* Contenedor para el contenido de las cartas */
    .carta-contenido {
        display: flex; /* Utiliza el modelo de caja flexible para organizar los elementos hijos */
        align-items: center; /* Alinea los elementos verticalmente al centro */
    }

    /* Estilo para las imágenes dentro de las cartas */
    .carta img {
        width: 80px; /* Ajusta el tamaño de la imagen */
        height: 80px; /* Ajusta el tamaño de la imagen */
        object-fit: cover; /* Asegura que la imagen mantenga su proporción y cubra el área asignada */
        border-radius: 50%; /* Hace que la imagen sea circular */
        margin-right: 10px; /* Añade un margen derecho debajo de la imagen */
    }

    /* Contenedor para el texto dentro de las cartas */
    .carta-texto {
        flex: 1; /* Permite que el texto ocupe el espacio restante */
        color: white; /* Color del texto */
    }

    /* Estilo para los párrafos dentro de las cartas */
    .carta p {
        margin: 5px 0; /* Espacio alrededor de los párrafos */
        font-family: 'Arial', sans-serif; /* Fuente legible */
        color: #000000; /* Color del texto */
    }

/* Estilo para la sección de enviar */
#enviar {
    background-image: url('imagenes/fondo-home.webp'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    box-sizing: border-box; /* Incluye el padding y el border en el tamaño total */
    height: 100vh; /* Asegura que ocupe al menos la altura de la ventana */
    display: flex; /* Utiliza el modelo de caja flexible para organizar los elementos hijos */
    flex-direction: column; /* Organiza los elementos hijos en una columna */
    align-items: center; /* Alinea los elementos hijos horizontalmente al centro */
    justify-content: center; /* Alinea los elementos hijos verticalmente al centro */
    color: #333; /* Color del texto para que sea legible sobre el fondo */
    font-family: 'Arial', sans-serif; /* Fuente legible y sencilla */
}

.enviar-form {
    display: grid; /* Utiliza el modelo de cuadrícula para organizar los elementos hijos */
    grid-template-columns: 1fr 1fr; /* Define una cuadrícula de dos columnas iguales */
    gap: 3%; /* Añade un espacio del 3% entre las columnas */
    row-gap: 8%; /* Añade un espacio del 8% entre las filas */
    width: 100%; /* Ocupa todo el ancho disponible */
    max-width: 70%; /* Limita el ancho máximo al 70% */
    font-weight: bold; /* Hace que el texto sea negrita */
    color: #000000; /* Establece el color del texto en negro */
    margin-bottom: 1%; /* Añade un margen inferior del 1% */
}

    /* Estilos para los inputs y textareas dentro del grupo de formularios */
    .form-group input,
    .form-group textarea {
        padding: 10px; /* Espaciado interno */
        border: 1px solid #ccc; /* Borde */
        border-radius: 5px; /* Bordes redondeados */
        width: 100%; /* Ocupa todo el ancho del contenedor */
        box-sizing: border-box; /* Incluye el padding y el border en el tamaño total */
        background-color: #fbdad5; /* Color de fondo */
    }

        /* Estilo para el grupo de textarea, para que ocupe dos columnas */
        .form-group.textarea-group {
            grid-column: span 2; /* Ocupa dos columnas */
        }

    /* Estilo específico para el textarea dentro del grupo de formularios */
    .form-group textarea {
        width: 100%; /* Ocupa todo el ancho disponible */
        height: 90%; /* Ajusta la altura del textarea */
    }

    /* Estilo para el grupo de botones, para que ocupe dos columnas y centrar el botón */
    .form-group.button-group {
        grid-column: span 2; /* Ocupa dos columnas */
        display: flex; /* Utiliza el modelo de caja flexible para organizar los elementos hijos */
        justify-content: center; /* Centra el botón horizontalmente */
    }

    /* Estilo para el botón dentro del grupo de formularios */
    .form-group button {
        padding: 10px 20px; /* Espaciado interno */
        border: none; /* Sin borde */
        border-radius: 5px; /* Bordes redondeados */
        background-color: #007bff; /* Color de fondo */
        color: white; /* Color del texto */
        cursor: not-allowed; /* Cursor de mano */
        text-align: center; /* Centra el texto */
        width: 20%; /* Ancho del botón */
    }

        /* Estilo para el botón dentro del grupo de formularios al pasar el ratón por encima */
        .form-group button:hover {
            background-color: #0056b3; /* Color de fondo al pasar el ratón */
        }


/* Estilo para la página de juegos */
#jugar {
    background-image: url('imagenes/fondo-home.webp'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    padding-top: 30%; /* Ajusta este valor según la altura de tu header */
    min-height: 100vh; /* Ocupa al menos la altura de la ventana */
    padding: 5%; /* Espaciado interno */
    box-sizing: border-box; /* Incluye el padding y el border en el tamaño total */
    font-weight: bold; /* Hace que el texto sea negrita */
}

    /* Contenedor para el contenido de la página de juegos */
    .jugar-contenido {
        display: grid; /* Utiliza el modelo de cuadrícula para organizar los elementos hijos */
        grid-template-columns: 1fr 3fr; /* Define una cuadrícula de dos columnas: menú y display */
        gap: 15%; /* Añade un espacio del 15% entre las columnas */
    }

/* Estilo para el menú de juegos */
.menu-juegos {
    background-color: transparent; /* Fondo transparente para el menú de juegos */
}

/* Estilo para los subtítulos en la sección de rotulo-titulos */
.rotulo-titulos h2 {
    font-family: 'Mountains of Christmas'; /* Fuente navideña */
    color: #00db00; /* Color verde festivo */
    padding-bottom: 5%; /* Añade un relleno inferior del 5% */
    font-weight: bolder; /* Aumenta el grosor de la fuente */
    font-size: 300%; /* Tamaño de fuente del 300% */
    border-radius: 12px; /* Bordes redondeados */
    text-align: center; /* Centra el texto */
    text-shadow: 2px 2px 4px #383838; /* Añade una sombra al texto */
}

/* Estilos para la lista de juegos dentro del menú de juegos */
.menu-juegos ul {
    list-style: none; /* Elimina los puntos de la lista */
    color: black; /* Establece el color del texto en negro */
}

/* Estilos para los elementos de la lista de juegos */
.menu-juegos li {
    border-radius: 5px; /* Redondea las esquinas de los elementos */
    margin-bottom: 15%; /* Añade un margen inferior del 15% */
    color: black; /* Establece el color del texto en negro */
}

/* Estilos para los enlaces dentro de los elementos de la lista de juegos */
.menu-juegos a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: black; /* Establece el color del texto en negro */
    font-size: 120%; /* Aumenta el tamaño de la fuente al 120% */
    display: flex; /* Utiliza el modelo de caja flexible para organizar el contenido */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    padding: 4%; /* Añade un relleno interno del 4% */
}

/* Estilo para los enlaces dentro del menú de juegos al pasar el ratón por encima */
.menu-juegos a:hover {
    background-color: #00db00; /* Cambia el fondo a un verde oscuro */
    color: black; /* Cambia el color del texto a negro */
    border-radius: 5px; /* Redondea las esquinas */
}

/* Contenedor para mostrar el juego seleccionado */
.juego-display {
    background-color: transparent; /* Fondo transparente */
    text-align: center; /* Centra el contenido */
}

/* Ocultar todas las imágenes de los juegos por defecto */
.juego-display > div {
    display: none; /* Oculta los elementos hijos */
}

/* Mostrar la imagen del juego seleccionado */
#juego1:target,
#juego2:target,
#juego3:target {
    display: block; /* Muestra el elemento cuando es el objetivo del enlace */
}

/* Estilo para las imágenes dentro del contenedor de juegos */
.juego-display img {
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: 200%; /* Ajusta la altura de la imagen */
    border-radius: 10px; /* Redondea las esquinas de la imagen */
}

/* Estilo para el pie de página */
.pie-de-pagina {
    background-color: #fff3f3; /* Color de fondo claro */
    color: rgb(0, 0, 0); /* Color del texto */
    padding: 2% 0; /* Espaciado interno */
    text-align: center; /* Centra el texto */
    position: relative; /* Posiciona el pie de página relativo a su contenedor */
    bottom: 0; /* Alinea el pie de página al fondo */
    width: 100%; /* Asegura que el pie de página ocupe todo el ancho disponible */
}

    /* Estilo para los enlaces dentro del pie de página */
    .pie-de-pagina a {
        color: rgb(0, 0, 0); /* Color del texto de los enlaces */
        text-decoration: none; /* Elimina el subrayado de los enlaces */
        margin: 1.5%; /* Añade un margen lateral a los enlaces */
        font-weight: bold; /* Texto en negrita */
    }

    /* Estilo para las imágenes dentro del pie de página */
    .pie-de-pagina img {
        width: 2%; /* Ajusta el tamaño de los iconos */
        height: auto; /* Mantiene la proporción de los iconos */
        margin: 0 10px; /* Añade un margen lateral a los iconos */
        vertical-align: middle; /* Alinea verticalmente los iconos con el texto */
        transition: transform 0.3s; /* Añade una transición suave */
    }

        /* Estilo para las imágenes dentro del pie de página al pasar el ratón por encima */
    .pie-de-pagina img:hover {
        transform: scale(1.2); /* Aumenta el tamaño del icono al pasar el ratón por encima */
    }

    /* Estilo específico para el icono de Facebook dentro del pie de página */
    .Facebook img {
        width: 2.5%; /* Ajusta el tamaño para cuadrar con el resto de logos */
        height: 2.5%; /* Mantiene la proporción de los iconos */
    }

/* Estilos para el botón de menú (hamburguesa) */
.menu-toggle {
    display: none; /* Oculto por defecto */
}

.menu-icon {
    display: none; /* Oculto por defecto */
}

/* Estilos para el menú */
.menu {
    display: flex; /* Utiliza el modelo de caja flexible para los elementos hijos */
    list-style: none; /* Elimina los estilos de lista predeterminados (como los puntos) */
    margin: 0; /* Elimina el margen predeterminado */
    padding: 0; /* Elimina el relleno predeterminado */
}

/* Media Queries para tablet (768px) */
@media (max-width: 768px) {
    .jugar-contenido {
        flex-direction: column; /* Cambia a disposición en columna */
        align-items: center; /* Centra los elementos */
    }

    .cartas-grid {
        grid-template-columns: 1fr; /* Una columna */
    }

    .menu-juegos li {
        margin-bottom: 20px; /* Reduce el margen inferior */
    }

    .carta {
        max-width: 100%; /* Asegura que las cartas ocupen todo el ancho disponible */
    }

    .encabezado {
        flex-direction: row; /* Mantiene la disposición en fila */
        align-items: center; /* Centra los elementos */
        justify-content: space-between; /* Espacia los elementos */
        padding: 10px; /* Ajusta el padding */
        position: relative; /* Necesario para posicionar el botón de menú */
    }

    #papa_noel {
        flex-direction: column; /* Cambia a disposición en columna */
        align-items: center; /* Centra los elementos */
        
    }

    .papa-noel-img{
        padding-bottom: 5%;
        border-radius: 0%;
    }

    .menu-icon {
        display: block; /* Muestra el botón de menú */
    }

    .menu {
        display: none; /* Oculto por defecto en pantallas pequeñas */
        flex-direction: column; /* Cambia a disposición en columna */
        align-items: center; /* Centra los elementos */
        width: 100%; /* Asegura que el menú ocupe todo el ancho disponible */
        background-color: #fff; /* Fondo blanco para el menú desplegable */
        padding: 10px 0; /* Añade padding vertical */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra para darle profundidad */
    }

    .menu li {
        width: 100%; /* Asegura que cada elemento del menú ocupe todo el ancho disponible */
        text-align: center; /* Centra el texto de cada elemento */
        padding: 10px 0; /* Añade padding vertical a cada elemento */
        border-bottom: 1px solid #ddd; /* Añade una línea divisoria entre los elementos */
        margin-left: 20px;
    }

    .menu li:last-child {
        border-bottom: none; /* Elimina la línea divisoria del último elemento */
    }

    .menu-toggle:checked + .menu-icon + nav .menu {
        display: flex; /* Muestra el menú cuando se activa */
    }

    .encabezado img {
        margin-bottom: 0; /* Elimina el margen inferior */
    }
}

/* Media Queries para móvil (600px) */
@media (max-width: 600px) {
    .jugar-contenido {
        flex-direction: column; /* Cambia a disposición en columna */
        align-items: center; /* Centra los elementos */
    }

    .cartas-grid {
        grid-template-columns: 1fr; /* Una columna */
    }

    .menu-juegos li {
        margin-bottom: 20px; /* Reduce el margen inferior */
    }

    .carta {
        max-width: 100%; /* Asegura que las cartas ocupen todo el ancho disponible */
    }

    .encabezado {
        flex-direction: row; /* Mantiene la disposición en fila */
        align-items: center; /* Centra los elementos */
        justify-content: space-between; /* Espacia los elementos */
        padding: 10px; /* Ajusta el padding */
        position: relative; /* Necesario para posicionar el botón de menú */
    }

    #papa_noel {
        flex-direction: column; /* Cambia a disposición en columna */
        align-items: center; /* Centra los elementos */
    }

    .menu-icon {
        display: block; /* Muestra el botón de menú */
    }

    .menu {
        display: none; /* Oculto por defecto en pantallas pequeñas */
        flex-direction: column; /* Cambia a disposición en columna */
        align-items: center; /* Centra los elementos */
        width: 100%; /* Asegura que el menú ocupe todo el ancho disponible */
        background-color: #fff; /* Fondo blanco para el menú desplegable */
        padding: 10px 0; /* Añade padding vertical */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra para darle profundidad */
    }

        .menu li {
            width: 100%; /* Asegura que cada elemento del menú ocupe todo el ancho disponible */
            text-align: center; /* Centra el texto de cada elemento */
            padding: 10px 0; /* Añade padding vertical a cada elemento */
            border-bottom: 1px solid #ddd; /* Añade una línea divisoria entre los elementos */
            margin-left: 20px; /* Añade un margen izquierdo a cada elemento */
        }

            .menu li:last-child {
                border-bottom: none; /* Elimina la línea divisoria del último elemento */
            }

            .menu-toggle:checked + .menu-icon + nav .menu {
                display: flex; /* Muestra el menú cuando se activa */
            }

            .encabezado img {
                margin-bottom: 0; /* Elimina el margen inferior */
            }
}
